.class-button-tab-select {
    -fx-border-radius: 20;
    -fx-background-color: none;
    -fx-border-color: #FFFF;
    -fx-background-radius: 32;
    -fx-cursor: hand;
}
.class-button-tab {
    -fx-background-color: none;
    -fx-cursor: hand;
}
.class-button-blue {
    -fx-background-color: #344660;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}

.class-container-ganancias {
    -fx-border-radius: 20px;
    -fx-background-color: #344660E5;
    -fx-background-radius: 20px;
}

.class-button-grafico-barras {
    -fx-border-radius: 20;
    -fx-background-color: transparent;
    -fx-border-color: #FFFF;
    -fx-background-radius: 32;
    -fx-cursor: hand;
    -fx-text-fill: white;
}

.class-button-grafico-barras:selected,
.class-button-grafico-barras:pressed {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.class-button-grafico-lineal {
    -fx-border-radius: 20;
    -fx-background-color: transparent;
    -fx-border-color: #FFFF;
    -fx-background-radius: 32;
    -fx-cursor: hand;
    -fx-text-fill: white;
}

.class-button-grafico-lineal:selected,
.class-button-grafico-lineal:pressed {
    -fx-background-color: white;
    -fx-text-fill: black;
}
.class-alert{
    -fx-background-color: none;
    -fx-color-label-visible: white;
    -fx-text-fill: white;
}